* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-Services-hero-section {
  font-family: Poppins;
}
.home-Services-hero-section-content-div p {
  font-family: Poppins;
}
#home-Services-hero-section-content-div-head {
  font-family: Poppins;
  font-size: 45px;
}
.home-Services-hero-section-content-div h4 {
  font-family: Poppins;
  font-size: 20px;

  padding: 10px;
}
@media (max-width: 600px) {
  .home-Services-hero-section-content-div h4 {
    margin-top: 90px;
  }
  #home-Services-hero-section-content-div-head {
    font-family: Poppins;
    font-size: 25px;
  }
}
