.documents-main-container{
    background-color: black;
}
.documents-section1{
    background-image: url('https://cdn.pixabay.com/photo/2016/11/29/12/41/desk-1869579_1280.jpg');
    height:60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.documents-section1 h2{
    font-family: open sans;
    font-size:50px;
    color:#ffd54a;
}
.documents-section2 h2{
    font-family: open sans;
    font-size:40px;
    padding:20px;
    text-align:center;
    color:rgb(253, 255, 119);
}
.document-section-ul-cont{
    display: flex;
    justify-content: space-evenly;
    gap:20px;
    background-color: black;
    padding:40px;
    color:#ffd54a;
}
@media(max-width:976px){
    .document-section-ul-cont{
        display: flex;
        flex-direction: column;

    }
    .documents-section2 h2{
        font-size: 30px;
    }

}
.document-section-ul-cont ul{
    display: flex;
    flex-direction: column;
    gap:20px;
    font-family:poppins;
    font-size: 17px;
}
.document-section-ul-cont img{
    height:500px;
}

@media(max-width:976px){
    .document-section-ul-cont img{
        height:350px;
        width:350px;
    }

}

.taxi-car-with-container{
    display: flex;
    justify-content: space-evenly;
    padding:20px;
}

@media(max-width:951px){
    .taxi-car-with-container{
        display: flex;
       flex-direction: column;
    }
    

}
.taxi-doc-sec{
    display: flex;
    flex-direction: column;
    gap:20px;
    color:#ffd54a;
    font-size: 17px;

}
.document-section3-page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fdf86c;
    align-items: center;
}
.document-section3-page1 h2{
    font-family: open sans;
    font-size:40px;
    padding:20px;

}
.document-section3-page1 p{
    font-family: poppins;
    font-size:20px;
}
.document-section-4{
    display: flex;
    justify-content: center;
    padding:40px;
}
.document-section-4 img{
    height:300px;
}

@media(max-width:951px){
    .document-section3-page1 h2{
        font-size: 30px;
    }
}